body {
  padding-top: 70px;
}
.narrow-list {
  width: 150px;
}
.medium-list {
  width: 350px;
}
pre {
    white-space: pre-wrap;
}
pre.java {
}
.special {
    color: red;
}
img.make-it-fit {
    max-width: 70%;
    max-height: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
br {
    content: " ";
    display: none;
}